@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;600&display=swap');
body{
    background-color: hsl(225, 19%, 92%);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    max-width: 300px;
    margin: 7rem auto;
    text-align: center;
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px;
}

.container{
    padding-bottom: 1.8rem;
}

.title{
    font-family: 'Outfit', sans-serif;
    font-size: 22px;
}

.description{
    font-family: 'Outfit', sans-serif; 
    font-size: 15px;
    margin: 0;
    padding: 0 1.1rem;
}



.QR{
    border-radius: 5px;
    margin: 1rem;
    width: 90%;
}
